#test {
    color: gold;
}

.footer {
    position: fixed; 
    width: 100%;
    padding: 20px; 
	bottom: 0px; 
    color: #333; 
    background: #5f5; 
    border-top: 2px solid #1a1;
}

.header {
    background: #5f5;
    border-bottom: 2px solid #1a1;
}