{{>header}}
<body>
    <div class="container">
        <div class="row col-md-6 col-md-offset-3">
            <table class="table table-striped">
                <thead>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Completed</th>
                    <th>Created</th>
                </thead>
                {{#each users}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{username}}</td>
                        <td>{{completed}}</td>
                        <td>{{{ShortDate created}}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>
</body>