<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chores</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/theme.css">
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<div class="navbar">
    <h3>Chores</h3>
    <span>
        <a href="/">Main</a>
        <a href="/user/login">Login</a>
        <a href="/task/add">Add Task</a>
        {{#if admin}}
            <a href="/admin/users" style="color: red;">Users</a>
        {{/if}}
    </span>
</div>