<body>
    <label>Id:</label>
    <input type="text" disabled="disabled" value="{{task.id}}" />
    <label>Name:</label>
    <input type="text" value="{{task.name}}" />
    <label>Creator:</label>
    <input type="text" disabled="disabled" value="{{creator}}" />
    <label>created:</label>
    <input type="text" value="{{task.created}}" />
    <label>complete:</label>
    <input type="checkbox" value="{{task.complete}}" />
    <div>
		<button>Update</button>
		<button href="/task/remove/{{task.id}}">Delete</button>
		<button>Take Ownership</button>
    </div>
</body>
