{{>header}}
<body>
    <h1>Chores</h1>
    <div>
        <p>Welcome to the site</p>

        <ul>
            <li><a href="/user/login">Login</a></li>
        </ul>
        <div id="board">
            <table>
                <tr>
                    {{#each fields}}
                        <td><strong>{{name}}</strong></td>
                    {{/each}}
                    <td><strong>actions</strong></td>
                </tr>
                {{#each model}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{name}}</td>
                        <td>{{created}}</td>
                        <td>{{creator}}</td>
                        <td>{{complete}}</td>
                        <td>
                            <button>Assign</button>
                            <button>Delete</button>
                        </td>
                    </tr>
                {{/each}}                
            </table>
        </div>
    </div>
</body>
{{>footer}}