{{>header}}
<body>
    <h1>Chores</h1>
    <div>
        {{#if username}}
            <p>Hey, {{username}}!</p>
        {{else}}
            <p>Welcome to the site</p>
        {{/if}}
        <a href="/user/login">Login</a>
        <div id="board">
            {{#if model}}
                <table>
                    <tr>
                        {{#each fields}}
                            <td><strong>{{name}}</strong></td>
                        {{/each}}
                    </tr>
                    {{#each model}}
                        <tr>
                            <td>{{id}}</td>
                            <td><a href="/task/info/{{id}}">{{name}}</a></td>
                            <td>{{created}}</td>
                            <td>{{creator}}</td>
                            <td>{{complete}}</td>
                        </tr>
                    {{/each}}                
                </table>
            {{else}}
                <div>No results to display!</div>
            {{/if}}
        </div>
    </div>
</body>
{{>footer}}