{{>header}}
<body>
    <div class="container">
        <div class="row">
            {{#if username}}
                <h3>Hey, {{username}}!</h3>
            {{else}}
                <h3>Welcome to the site</h3>
            {{/if}}
        </div>

        <div id="board" class="row">
            {{#if model}}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td><strong>Name</strong></td>
                            <td><strong>Created</strong></td>
                            <td><strong>Creator</strong></td>
                            <td><strong>Complete</strong></td>
                        </tr>
                    </thead>
                    {{#each model}}
                        <tr>
                            <td><a href="/task/info/{{id}}">{{name}}</a></td>
                            <td>{{{ShortDate created}}}</td>
                            <td>{{creator}}</td>
                            {{#if complete}}
								<td><span class="glyphicon glyphicon-ok"></span></td>
							{{else}}
								<td><span class="glyphicon glyphicon-remove"></span></td>								
							{{/if}}
                        </tr>
                    {{/each}}                
                </table>
            {{else}}
                <h3>No chores today!</h3>
            {{/if}}
        </div>
    </div>
</body>
{{>footer}}
