{{>header}}
<body>
	<div class="container">
		<div class="row col-md-4 col-md-offset-4">
			<h3>Create an Account</h3>
			<form action="/user/add" method="post">
				<div class="form-group">
					<label>Username:</label>
					<input class="form-control" type="text" name="username" value="{{username}}" />
				</div>
				<div class="form-group">
					<label>Password:</label>
					<input class="form-control" type="password" name="password" />
				</div>
				<div class="form-group">
					<label>Confirm Password:</label>
					<input class="form-control" type="password" name="confirmpw" />
				</div>
				<div class="form-group">
					<label>Email:</label>
					<input class="form-control" type="email" name="email" value="{{email}}" />
				</div>
				
				{{#if err}}
					<div class="alert alert-warning">{{err}}</div>
				{{/if}}

				<button class="btn btn-primary" type="submit">Submit</button>
			</form>
		</div>
	</div>
</body>
{{>footer}}