.stickynote {
    background: slateblue;
    width: 200px;
    height: 200px;
    font-family: 'Yuji Boku';
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
}

.task-title {
    vertical-align: middle;
}