{{>header this}}
<body>
    <div class="container">
        <div class="row">
            {{#if username}}
                <h3>Hey, {{username}}!</h3>
            {{else}}
                <h3>Welcome to the site</h3>
            {{/if}}
        </div>

        <div class="row">
            <div id="about" class="col-md-3 col-md-offset-1">
                <h3>About</h3>
                <p>This application lets you set chores for users. Users can sign up and complete the chores and possibly reap some rewards.</p>
            </div>
            <div id="contact" class="col-md-3">
                <h3>Contact</h3>
                <p>In you think we're missing something important, you can contact us at <a href="mailto:admin@chores.com">our email.</a></p>
            </div>
            <div id="goals" class="col-md-3">
                <h3>Goals</h3>
                <p>We aim to achieve harmony between task master and lacky!</p>
            </div>
        </div>

        {{#if username}}
            <div id="board" class="row">
                {{#if model}}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Created</th>
                                <th>Creator</th>
                                <th>Complete</th>
                            </tr>
                        </thead>
                        {{#each model}}
                            <tr>
                                <td><a href="/task/info/{{id}}">{{name}}</a></td>
                                <td>{{{ShortDate created}}}</td>
                                <td>{{creator}}</td>
                                {{#if complete}}
                                    <td><span class="glyphicon glyphicon-ok"></span></td>
                                {{else}}
                                    <td><span class="glyphicon glyphicon-remove"></span></td>								
                                {{/if}}
                            </tr>
                        {{/each}}                
                    </table>
                {{else}}
                    <h3>No chores today!</h3>
                {{/if}}
            </div>
        {{/if}}
    </div>
</body>
{{>footer}}
